[Desktop Entry]
Type=Application
Exec=qstamina
Icon=qstamina
Categories=Utility;Education;Training;Typing;

# English translations
Name[en]=QStamina
GenericName[en]=Typing tutor
Comment[en]=A typing tutor application

# Russian translations
Name[ru]=QStamina
GenericName[ru]=Тренажёр для набора текста
Comment[ru]=Программа для тренировки печати

# Ukrainian translations
Name[uk]=QStamina
GenericName[uk]=Тренажер для набору тексту
Comment[uk]=Програма для тренування друку
